/* Hamburger menu styles */
.App{
    display: flex;
    justify-content: space-between;
    margin: 0 4.5rem;
  
}
.hamburger {
  display: none; /* Hide the hamburger menu by default on larger screens */
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.hamburger span {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

/* Rotate the top and bottom lines of the hamburger when menu is open */
.hamburger.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Display the menu items when the hamburger menu is open */
.menu-btn.open {
  display: flex;
  flex-direction: column;
}

/* Menu items styling */
.menu-btn {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  
}

.menu-btn li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.menu-btn li:last-child {
  margin-right: 0;
}

.menu-btn li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
}

.hot-sales {
  display: flex;
  align-items: center;
  margin-right: 80px;
}


.hot-sales h5 {
  margin: 0;
}

.hot-sales h5 span {
  color: #2ebb77;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
 .App{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem ;

 }

 .hot-sales{
    margin: 0 1rem;
 }

    .hamburger {
    display: inline-block;
    margin-right: 5rem;
    
  }

  .menu-btn {
    display: none;
  }
}
.hot-sales {
  margin-left: 2rem;


}

.hot-sales .icon {
  margin-right: 0;
  margin-bottom: 5px;
}
