.latest{
    text-align: center;
    font-size: small;
    margin-top: 3rem;
    margin-left: 15px;
}

.latest .d-flex{
     text-align: center;
}

.latest .d-flex .form-control{
    width: 50%; 
    margin-right: -2rem;
    /* margin-left: 2rem; */
    border-color: #dee2e6;
    display: inline-flex;

}

